
body {
  margin: 0; 
  padding: 0; 
  height: 100vh; 
  overflow: hidden; 
  background-image: url('bg.gif'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-color: black; 
}

html {
  height: 100%; 
}